<div class="container history" style="margin-top: 10px;">
<% @history.each do |visit| %>
  <div>
    <div style="float: left;">
      <div class="thumb">
        <img src="<%= img_for_city(visit, 60, 60) %>" width="60" height="60" />
      </div>
    </div>
    <div style="float: left;">
      <h3><%= visit[:name] %></h3>
      <%= (Date.parse visit[:date_visited].to_s).to_s %>
    </div>
  </div>
  <div style="clear: both; padding-top: 10px;"></div>
<% end %>
</div>