<div class="container">

  <div class="hero-unit">
    <div class="row">
      <div class="span3">
        <div id="header-caption">
          <h1>Everyday City</h1>
          <h2>Automatically post your current city to Facebook</h2>
        </div>
        <img src="/img/soon-get-available-on-the-app-store.png" id="available-on-the-app-store" />
        <!-- <a href="/everyday-city-itunes"><img src="/img/get-available-on-the-app-store.png" id="available-on-the-app-store" /></a> -->
        </div>
      <div class="span3 offset3">
        <img src="/img/fb-timeline-screenshot.jpg" id="fb-timeline-screenshot" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span8 main-page-content">
      <div class="inside">

        <h2>Everyday City lets you automatically 
        share the cities you visit!</h2>

        <h3>Everyday City can help:</h3>
        <ul>
          <li>Automatically notify friends that you’re in their city.</li>
          <li>Easily see when your friends have landed at the airport.</li>
          <li>See your travel patterns over time on Facebook.</li>
        </ul>

        <h3>How does it work?</h3>
        <p>The Everyday Cities iPhone app runs in the background 
        and detects when you’ve changed cities.</p>

        <h3>How was it built?</h3>
        <ul>
          <li>Everyday City runs on the <a href="https://developers.geoloqi.com/ios">Geoloqi SDK for iPhone</a>.</li>
          <li>You can <a href="https://github.com/geoloqi/Geoloqi-iPhone-SDK">download the SDK</a> here to make your own battery-safe geofencing application.</li>
        </ul>

        <h3>Privacy</h3>
        <p>Everyday City only stores your city and no other data. 
        You control your shared location and can 
        turn it off at any time.</p>
      </div>
    </div>
    <div class="span4">
      <div class="inside">
        <img src="/img/iPhone-app-screenshot-main.png" class="screenshot-main">
      </div>
    </div>  
  </div>

</div>