body {
  font: 13px "lucida grande",tahoma,verdana,arial,sans-serif;
  background: #E7EBF2;
}

@media (max-width: 979px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-fixed-top {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }  
}
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-fixed-top {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }  
}


h3.visit {
  font-weight: normal;
}


.navbar {
  position: relative;
}


.hero-unit {
  background: url(/img/everyday-city-header.jpg) center center no-repeat;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#header-caption {
  background: url(/img/everyday-city-text.png) no-repeat;
  width: 272px;
  height: 196px;
  margin-left: 30%;
}
#header-caption h1, #header-caption h2 {
  display: none;
}

#available-on-the-app-store {
  width: 250px;
  margin-left: 30%;
  margin-top: 30px;
}


.city {
  width: 546px;
  border: 1px solid #C4CDE0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.city-in {
  background: white;
  padding: 3px;
}

@media (min-width: 767px) and (max-width: 979px) {
  .city {
    width: 414px;
  }
  .city img {
    width: 408px;
  }
}
@media (max-width: 414px) {
  .city {
    width: 100%;
  }
  .city img {
    width: 100%;
  }
}


.screenshot {
  width: 190px;
}

.screenshot-main {
  width: 280px;
}
@media (min-width: 767px) and (max-width: 979px) {
  .screenshot-main {
    width: 210px;
  }
}
@media (max-width: 767px) {
  .screenshot-main {
    width: 210px;
  }
}


.main-page-content .inside {
  border: 1px solid #C4CDE0;
  background: white;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}


@media (max-width: 979px) {
  #header-caption {
    width: 220px;
    background-size: 220px 158px;
    margin: 0 auto;
  }
  #fb-timeline-screenshot {
    width: 320px;
  }
  #available-on-the-app-store {
    width: 200px;
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  #fb-timeline-screenshot {
    width: 240px;
  }
  #available-on-the-app-store {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.section {
  background-color: #fff;
  border: 1px #ddd solid;
  margin: -20px -20px 35px -20px;
  padding: 19px;
}


.intro p {
  font-size: 1.12em;
}

/**
 * History
 */

.history .thumb {
  border: 1px solid #C4CDE0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 6px;
}



/**
 * Headers
 */
h1 {
  border-bottom: 2px #ccc solid;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

h2 {
  font-family: 'Lucida Grande', helvetica, verdana, sans-serif;
  color: #555;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
  text-shadow: 0 1px -1px white;
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid white;
}

/**
 * Code/Syntax Highlighting 
 */
code, pre {
  font: 12px Inconsolata,Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

pre {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

pre code {
  display: block;
  margin: 1.25em 0;
  padding: 0.75em 1.0em;
  overflow: auto;
  white-space: pre;
  background-color: rgba(155, 155, 155, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #ccc 1px 1px 3px 0 inset;
  -webkit-box-shadow: #ccc 1px 1px 3px 0 inset;
  -o-box-shadow: #ccc 1px 1px 3px 0 inset;
  box-shadow: #ccc 1px 1px 3px 0 inset;
}

code {
  color: #08C;
  background: rgba(155, 155, 155, 0.1);
  white-space: nowrap;
}

/** 
 * footer
 */
#copyright {
  line-height: 14px;
  margin:4px 0 0;
}

.footer {
  background: #151515;
  padding: 5px 0 5px 0;
  min-height: 40px;
}
.footer .fill {
  display: block;
}
.footer li {
  line-height: 24px;
}
.footer h5 {
  color: #ddd;
}
.footer li, .footer h5 {
  font-size: 13px;
}
.footer a {
  color: gray;
}

.right {
  float: right;
}
@media (max-width: 767px) and (max-width: 979px) {
  .footer {
    padding-left: 6px;
    padding-right: 6px;
  }
  .right {
    clear: both;
    float: none;
  }
}


.bar nav.small a {
  line-height: 40px;
  font-size: 11px;
  display: block;
  float: left;
  padding-right: 2em;
}
.bar a {
  color: #F2F2F2;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/** 
 * Sticky footer 
 */
html, body {
  height: 100%;
}
.page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  height: 50px; /* .push must be the same height as .footer */
}

.page-wrapper {
  position: relative;
}

#history * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

#history {
  width:100%;
  margin:0;
  padding:0;
  position: absolute;
  top:0;
  bottom:0;
  overflow: hidden;
}

#history article {
  margin:13px auto;
  width:298px;
  background:white;
  border: 1px solid #C4CDE0;
  -webkit-border-radius:3px;
  border-radius:3px;
}

#pad {
  height:13px;
  width:100%;
  background-color: rgba(0,0,0,0);
}

#history article header {
  font-size:11px;
  line-height:1.28em;
  margin:13px 15px;
  padding:0 0 3px 0;
  border-bottom:1px solid #e5e5e5;
}

#history article header h3 {
  font-size:13px;
  line-height:1.28em;
  padding:0 0 3px 0;
}

#history article header time {
  color: gray;
}

#history article img {
  margin:3px auto;
  display: block;
  width:292px;
  height:120px;
}
